html
    head
        title express title
        style   
            include style.css
    body
        .title-container
            h1.title Welcome back to Node.js Learning App, #{name}
            h2.title You are login right now
        .button-container
            button.button-box    
                a(class='.button-link' href='/user/logout') Logout

