html
    head
        title express title
    body(style={background:"#b75c5c"})
        h1.title Welcome back to Node.js Learning App
        h2 You are login right now
        button Register
        button Login

