html
    head
        title express title
    body(style={background:"#b75c5c"})
        h1.title Welcome to Node.js Learning App
        h2 Please signup or login to App
        button Register
        button Login

