html
    head
        title express title
        style 
            include style.css
    body
        .title-container
            h1.title Welcome to Node.js Learning App
            h2.title Please signup or login to App
        .button-container
            button.button-box Register
            button.button-box Login

