html
    head
        title Express Signup Page
    body
        h1 this is login page
        
        script.
            function removeMsg() {
                var removeItem = document.getElementById('success-msg')
                removeItem.remove()
            }
        div
            h2(id="success-msg") #{successMsg}
                button(onclick='removeMsg()') x
        
        form(action="/user/login " method="POST")
            div(style={margin:"auto auto"})
                label(for="username") User name
                input(type="text", value="", name="username", required="require")
                label(for="password") Password
                input(type="password", value="", name="password")
                br
                input(type="submit", value="Login")
