html
    head
        title Express Signup Page
    body
        h1 this is login page
        
        script.
            function removeMsg() {
                var removeItem = document.getElementsByClassName('msg')
                if (removeItem.length>0) {
                    removeItem[0].remove()
                }
                
            }
        if (successMsg !=='')
            div(class="msg")
                h2 #{successMsg}
                    button(onclick='removeMsg()') x
        if (error !=='')
            div(class="msg")
                h2 #{error}
                    button(onclick='removeMsg()') x
        form(action="/user/login " method="POST")
            div(style={margin:"auto auto"})
                label(for="email") Email
                input(type="text", value="", name="email", required="require")
                label(for="password") Password
                input(type="password", value="", name="password")
                br
                input(type="submit", value="Login")
