html
    head
        title Express Signup Page
        style   
            include style.css
    body
        .title-container
            h1.title this is login page
        
        script.
            function removeMsg() {
                var removeItem = document.getElementsByClassName('msg')
                if (removeItem.length>0) {
                    removeItem[0].remove()
                }
                
            }
        if (successMsg !=='')
            div(class="msg")
                h2.title #{successMsg}
                    button(onclick='removeMsg()') x
        if (error !=='')
            div(class="msg")
                h2.title #{error}
                    button(onclick='removeMsg()') x
        form(action="/user/login " method="POST")
            .form-container
                label.title(for="email") Email
                input.input-box(type="text", value="", name="email", required="require")
                br
                label.title(for="password") Password
                input.input-box(type="password", value="", name="password")
                br
                .button-container
                    input.button-box(type="submit", value="Login")
