html
    head
        title Express Signup Page
        link(rel='stylesheet' href="style.css")
        
    body
        h1.title This is a simple SignUp App
        h2(style={color:'green'}) Please sign up first
        p #{password}
        script.
            var error = !{errorMsg}
            if (typeof(error)!=="undefined") 
                error.map(function(item){
                    document.write(item.msg)
                })

        form(action="/user/signup " method="POST")
            div(style={margin:"auto auto"})
                label(for="username") User name
                input(type="text", value="", name="username", required="require")
                label(for="email") Email
                input(type="text", value="", name="email")
                label(for="password") Password
                input(type="password", value="", name="password")
                label(for="verified password    ") Verified password
                input(type="password", value="", name="password2")
                br
                input(type="submit", value="Submit")

        