html
    head
        title Express Signup Page
        style
            include style.css
        
    body
        .title-container
            h1.title This is a simple SignUp App
            h2.title Please sign up first
        script.
            var error = !{errorMsg}
            if (typeof(error)!=="undefined") 
                error.map(function(item){
                    document.write(item.msg)
                })
        form(action="/user/signup " method="POST")
            .form-container
                label.title(for="username") User name
                input.input-box(type="text", value="", name="username", required="require")
                label.title(for="email") Email
                input.input-box(type="text", value="", name="email")
                label.title(for="password") Password
                input.input-box(type="password", value="", name="password")
                label.title(for="verified password    ") Verified password
                input.input-box(type="password", value="", name="password2")
                br
                .button-container
                    input.button-box(type="submit", value="Submit")

        